table {
  padding: 40px;
}
p {
  padding: 20px;
}
button {
  margin: 20px;
  padding: 10px;
}
.alerta {
  max-width: 200px;
  position: fixed;
  top: 50px;
  right: 24px;
}
.snackbar-danger {
  background-color: #e57373;
  color: white;
}
