<body>
  <div class="page">
    <main>
      <section>
        <h1>Habla <span>idiomas, habla</span> el mundo</h1>
        <p>
          Aprender un nuevo <strong>idioma</strong>. no tiene por qué ser
          aburrido
          <br />
          <strong>En nuestra academia de idiomas,</strong>
          <br />
          hacemos que el aprendizaje sea divertido y efectivo.
        </p>

        <button>
          <img
            src="../../assets/contactus.png"
            alt="ícone do Whatsapp"
            width="20px"
          />
          ¡Únete a nosotros!
        </button>
      </section>

      <img
        src="../../assets/homepage.png"
        alt="mulher pulando corda em uma academia"
        width="700px"
      />
    </main>
  </div>

  <img
    id="balls"
    src="../../assets/homepagepoints.png"
    alt="circunferências decorativas verdes no canto inferior direito"
    width="200px"
  />
</body>
