<p [appFontSize]="15">
  Por favor llene los datos necesarios para inscribir al estudiante al curso
  requerido:
</p>
<!-- Botón agregar estudiante-->

<button (click)="abrirDialogoFormulario()" mat-raised-button color="accent">
  <mat-icon>add</mat-icon>
  Agregar alumno
</button>

<!-- Filtro-->

<mat-form-field class="w-full">
  <mat-label>Buscar estudiante</mat-label>
  <input
    matInput
    (keyup)="aplicarFiltros($event)"
    placeholder="Nombre ejemplo"
    #input
  />
</mat-form-field>
<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Columna identificación-->
  <ng-container matColumnDef="id">
    <th [appFontSize]="20" mat-header-cell *matHeaderCellDef>Identificación</th>
    <td mat-cell *matCellDef="let usuario">{{ usuario.id }}</td>
  </ng-container>

  <!-- Columna nombre-->
  <ng-container matColumnDef="nombreCompleto">
    <th [appFontSize]="20" mat-header-cell *matHeaderCellDef>
      Nombre completo
    </th>
    <td mat-cell *matCellDef="let usuario">
      {{ usuario | nombreCompleto : "mayuscula" }}
    </td>
  </ng-container>

  <!-- Columna apellido -->
  <ng-container matColumnDef="apellido">
    <th [appFontSize]="20" mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let usuario">{{ usuario.apellido }}</td>
  </ng-container>

  <!-- Columna curso--->
  <ng-container matColumnDef="curso">
    <th [appFontSize]="20" mat-header-cell *matHeaderCellDef>Curso</th>
    <td mat-cell *matCellDef="let usuario">
      {{ usuario.curso }}
    </td>
  </ng-container>
  <!-- Columna email--->
  <ng-container matColumnDef="email">
    <th [appFontSize]="20" mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let usuario">
      {{ usuario.email }}
    </td>
  </ng-container>
  <!-- Columna fecha de registro- -->
  <ng-container matColumnDef="fecharegistro">
    <th [appFontSize]="20" mat-header-cell *matHeaderCellDef>
      Fecha de registro
    </th>
    <td mat-cell *matCellDef="let usuario">
      {{ usuario.fecharegistro | date }}
    </td>
  </ng-container>
  <!-- Columna ver detalle- -->
  <ng-container matColumnDef="detail">
    <th [appFontSize]="20" mat-header-cell *matHeaderCellDef>Detalle</th>
    <td mat-cell *matCellDef="let usuario">
      <button mat-icon-button (click)="irAlDetalle(usuario.id)">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>
  <!-- Columna eliminar- -->
  <ng-container matColumnDef="eliminar">
    <th [appFontSize]="20" mat-header-cell *matHeaderCellDef>Eliminar</th>
    <td mat-cell *matCellDef="let usuario">
      <button
        (click)="eliminarEstudiante(usuario)"
        mat-raised-button
        color="warn"
      >
        <mat-icon>close</mat-icon>
        Eliminar
      </button>
    </td>
  </ng-container>

  <!-- Columna editar- -->
  <ng-container matColumnDef="editar">
    <th [appFontSize]="20" mat-header-cell *matHeaderCellDef>Editar</th>
    <td mat-cell *matCellDef="let usuario">
      <button
        (click)="editarEstudiante(usuario)"
        mat-raised-button
        color="primary"
      >
        <mat-icon>edit</mat-icon>
        Editar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
