<h4 mat-dialog-title>Llene los datos necesarios para la inscripción</h4>
<div mat-dialog-content>
  <form [formGroup]="inscriptionForm" class="col">
    <div class="control">
      <mat-form-field>
        <mat-label>Estudiante</mat-label>
        <mat-select [formControl]="studentIdControl">
          <mat-option
            [value]="estudiante.id"
            *ngFor="let estudiante of estudiantes"
            >{{ estudiante.nombre }} {{ estudiante.apellido }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="control">
      <mat-form-field>
        <mat-label>Curso</mat-label>
        <mat-select [formControl]="selectedCourseControl">
          <mat-option [value]="curso" *ngFor="let curso of cursos"
            >{{ curso.id }} - {{ curso.subject.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <div>
    <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
  </div>
  <button (click)="onSave()" mat-button type="button">Guardar</button>
</div>
