<mat-toolbar color="primary">
  <button
    (click)="drawer.toggle()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Speak Up!</span>
  <span class="example-spacer"></span>
  <p>Hola {{ (authUser$ | async)?.nombre }}</p>

  <a (click)="redirectToHome()">
    <mat-icon>home</mat-icon>
  </a>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Bienvenido</p>
    <mat-nav-list>
      <li>
        <img
          src="../../assets/userSideBar.png"
          alt="Imagen user"
          width="80"
          height="80"
        />
      </li>
      <li>{{ (authUser$ | async)?.nombre }}</li>
      <li>{{ (authUser$ | async)?.email }}</li>
      <li>{{ (authUser$ | async)?.role }}</li>

      <a mat-list-item [routerLink]="link.path" *ngFor="let link of links">
        <mat-icon>{{ link.icon }}</mat-icon>
        {{ link.title }}
      </a>
      <a (click)="logOut()" mat-list-item
        ><mat-icon>logout</mat-icon> Cerrar sesión
      </a>
    </mat-nav-list>
  </mat-drawer>

  <main class="main"><router-outlet></router-outlet></main>
</mat-drawer-container>
