.inglesA1 {
  background-color: red;
}
.inglesA2 {
  background-color: blue;
}
.inglesB1 {
  background-color: green;
}
.inglesB2 {
  background-color: blueviolet;
}
.inglesC1 {
  background-color: gray;
}
.inglesC2 {
  background-color: purple;
}
.francesA1 {
  background-color: yellow;
}
.francesA2 {
  background-color: orange;
}
.francesB1 {
  background-color: pink;
}
.francesB2 {
  background-color: brown;
}
h2 {
  color: #3636ff;
  text-align: center;
  margin-top: 20px;
}
.edad {
  text-align: center;
}
.col {
  text-align: center;
}
.container {
  padding: 50px;
  background-color: aliceblue;
}
.curso {
  font-weight: bold;
  text-align: center;
}
